<%= form_with(url: get_stock_path, method: :get) do |form| %>
    <section class="formLookUpCompany">
        <div class="formField">
            <%= form.label "Stock Symbol" %>
            <%= form.text_field :stock_symbol %>
        </div>
        <div class="formSubmit">
            <%= form.submit "Submit", class:"btn waves-effect waves-light" %>
        </div>
    </section>
<% end %>
