<div style="width: 600px;">
    <%= line_chart({
        "Monday" => 116372, 
        "Tuesday" => 23562,
        "Wednesday" => 421222,
        "Thursday" => 433572,
        "Friday" => 1141623,
        "Saturday" => 232972,
        "Sunday" => 930462,            
        }, 
        xtitle: "Time", ytitle: "Population") %>
</div>