<div class="mainSection">
    <div>
        <h1>
            Tracking stocks.
        </h1>
    </div>
    <div>
        <p>
            These are some of the companies that you can track. <br>
            In order to do that, you must type the <b>Company Symbol</b> and click on the submit button. <br>
            (Ej. Microsoft => MSFT)
        </p>
    </div>
</div>
<br>
<section class="cardSection">
    <div class="cardStock">
        <div>
            <img src="https://storage.googleapis.com/iex/api/logos/AMZN.png" alt="Amazon" class="circle responsive-img" width="50px" > <!-- notice the "circle" class -->
        </div>
        <div>
            <p class="cardDescription">
                Company Symbol: <b>AMZN</b><br>
                Company name: <b>Amazon</b>
            </p>
        </div>
    </div>
    <div class="cardStock">
        <div>
            <img src="https://storage.googleapis.com/iex/api/logos/MSFT.png" alt="Microsoft" class="circle responsive-img" width="50px"> <!-- notice the "circle" class -->
        </div>
        <div>
            <p class="cardDescription">
                Company Symbol: <b>MSFT</b><br>
                Company name: <b>Microsoft</b>
            </p>
        </div>
    </div>
    <div class="cardStock">
        <div>
            <img src="https://storage.googleapis.com/iex/api/logos/AAPL.png" alt="Apple" class="circle responsive-img" width="50px"> <!-- notice the "circle" class -->
        </div>
        <div>
            <p class="cardDescription">
                Company Symbol: <b>AAPL</b><br>
                Company name: <b>Apple</b>
            </p>
        </div>
    </div>
</section>
<br>
<div>
    <%= render 'stocks/form' %>
</div>