<%= turbo_stream_from "stocks" %>
<section>
    <div>
        <h2>
            My stocks
        </h2>
    </div>
    <div>
        <p>
            There are the stocks that you are tracking at the moment.
        </p>
    </div>
</section>

<section>
    <div>
        <table class="centered">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Ceo</th>
                    <th>Value (USD)</th>
                    <th>Latest price</th>
                    <th>Percent</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @stocks.each do |stock| %>
                    <tr>
                        <%= render 'stocks/stock', stock: stock %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>