<%= turbo_stream_from "stocks" %>
<section>
    <div>
        <h2 class="centerContent">
            My stocks
        </h2>
    </div>
    <div>
        <p class="centerContent">
            There are the stocks that you are tracking at the moment.
        </p>
    </div>
</section>

<section>
    <div>
        <table class="centered">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Ceo</th>
                    <th>Value (USD)</th>
                    <th>Current price</th>
                    <th>Percent</th>
                    <th>Action</th>
                    <th>Update</th>
                    <th>Historical prices</th>
                </tr>
            </thead>
            <tbody>
                <% @stocks.each do |stock| %>
                    <tr>
                        <%= render 'stocks/stock', stock: stock %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>
<br>
<section>
    <% if @stock_prices %>
    <article>
        <%= render 'stocks/graph', prices: @stock_prices %>
    </article>
    <% end %>
</section>