<nav>
    <div class="nav-wrapper">
        <%= link_to "BawSaq", root_path, class:"brand-logo" %>
        <ul class="right hide-on-med-and-down">
        <% if !current_user %>
            <li>
                <%= link_to "Sign in", new_user_session_path, class:"waves-effect waves-light btn-small" %>
            </li>
            <li>
                <%= link_to "Create an account", new_user_registration_path, class:"waves-effect waves-light btn-small" %>
            </li>
        <% else %>
            <li>
                <%= link_to "Sign out", destroy_user_session_path, "data-turbo-method": :delete %> 
            </li>
        <% end %>
        </ul>
    </div>
</nav>
